* {
    margin: 0px 10px 10px;
    padding: 0;
}


body {
    background-color: #22012c;
    color: #ededed;
}

.navbar a {
    font-size: 30px;
    color: #a1eeb2;
    text-decoration: none;
    font-weight: 500;
    margin-right: 25px;
    transition: 1s;
}


.navbar a:hover,
.navbar a.active {
    color: #f59efd;
}

.page-content h1 {
    height: 10vh;
    display: flex;
    align-items: center;
    padding: 0 25%;
    font-size: 50px;
    font-weight: 700;
    align-content: center;
}

.page-content h2 {
    display: flex;
    align-items: center;
    padding: 50px 20%;
    font-size: 90px;
    font-weight: 500;
    color: #00abf0;
    background-color: #025c68;
}

.page-content p{
    align-items: center;
    padding: 0 13%;
    font-size: 28px;
    margin: 50px;
}


.page-content .btn-box {
    display: flex;;
    width: 445px;
    height: 50px;
    padding:20px 35%
}


.btn-box a,a:nth-child(2) {
    
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 400px;
    height: 120%;
    background: transparent;
    border: 3px solid #00f03c;
    border-radius: 20px;
    font-size: 20px;
    color: #fefffa;
    text-decoration: none;
    font-weight: 400;
    letter-spacing: 1px;
    z-index: 1;
    overflow: hidden;
    transition: .2s;
    padding:10px;
    
}


.btn-box a:hover, a:nth-child(2):hover{
    color: #0dd883;
}

.btn-box a:hover:before {
    width: 100%;
}



.btn-box a::before,  a:nth-child(2)::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 0%;
    background: #86f1a6;
    z-index: -1;
    transition: .5s;
}



