body {
    background-color: #add3f4; /* Light blue background */
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
  }
  
  .container {
    max-width: 900px;
    margin: 0 auto;
    text-align: center;
  }
  
  .main-heading {
    color: #2c3e50;
    font-size: 36px;
    text-transform: uppercase;
    margin-bottom: 20px;
  }
  
  .profile-img {
    width: 200px;
    border-radius: 5%;
    margin: 20px auto;
  }
  
  .text-style1 {
    font-family: 'Georgia', serif;
    font-size: 18px;
    color: #333;
  }
  
  .text-style2 {
    font-family: 'Verdana', monospace;
    font-size: 16px;
    color: #006400;
  }
  
  .text-style3 {
    font-family: 'Verdana', sans-serif;
    font-size: 17px;
    color: #8b0000;
  }
  
  .flex-box {
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
  }
  
  .box {
    background-color: #a9f9dc;
    padding: 15px;
    border: 2px solid #111212;
    width: 20%;
    border-radius: 0;

  }
  
  .box1 {
    background-color: #85f2bf;
    border-radius: 0;
  }
  
  .box2 {
    background-color: #7befb9;
    border-radius: 0
  }
  
